# EmailJS Configuration
# Get these values from https://dashboard.emailjs.com/admin
VITE_EMAILJS_SERVICE_ID=service_y3245oc
VITE_EMAILJS_TEMPLATE_ID=template_o7gudxu
VITE_EMAILJS_PUBLIC_KEY=JRswyMiKXstiFaySf

# Google Analytics Configuration
# Get your Measurement ID from https://analytics.google.com/
VITE_GA_MEASUREMENT_ID=G-F4WH8N2JX2