.form-control {
    display: block;
    width: 100%;
    padding: 0.3125rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: outline-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 3em;

    &:focus {
        outline-color: #8a0303;
        box-shadow: 0 0 0 0.25rem rgb(233 93 145 / 16%);
    }
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;

    label {
        color: #474543;
        font-size: 20px;
    }
}

.textarea {
    height: 6em;
}
