a {
    color: #474543;
    text-decoration: none;
}

form {
    max-width: 720px;
}

h1 {
    font-size: 7rem;
}

input {
    height: 3em;
}

p {
    color: #6c757d;
    padding-right: 0.75rem;

    a {
        color: #6c757d;
        text-decoration: underline;
    }
}

section {
    padding: 4.5rem 0;
}

textarea {
    height: 6em;
}

.btn {
    font-weight: 700;
}

.btn-primary {
    color: #8a0303;
    background-color: transparent;
    border-color: #8a0303;
    border-radius: 2rem;
    padding: 16px 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8a0303;
    border-color: #8a0303;
}

.container {
    max-width: 1140px;
}

.footer {
    color: #6c757d;
    background-color: #e9ecef;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.3125rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #152a49;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #8a0303;
    box-shadow: 0 0 0 0.25rem rgb(233 93 145 / 16%);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group > label {
    color: #474543;
    font-size: 20px;
    text-align: left;
}

.icon {
    height: 4rem;
}

.icon.icon-lg {
    height: 6rem;
}

.logo {
    max-height: 35px;
}

.navbar {
    padding: 0.75rem 1.5rem;
}

.text-left {
    text-align: left;
}

.text-md-left {
    text-align: left;
}

.tooltip-container {
    position: absolute;
    display: inline-block;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

.tooltip-container::after {
    content: "";
    position: absolute;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
